@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

:root {
  --bg-color: #0c223a;
  --card-bg: #0C2B4E;
  --primary-color: #ffffff; /* Neon lime/green */
  --primary-hover: #c4ccc0;
  --text-main: #FFFFFF;
  --text-muted: #A1A1AA;
  --output-bg: #0c223a;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {font-family: "Science Gothic", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}
